
<body>
    <center>
        <h1>Privacy Policy for Private Messaging Service (PMS)</h1>

        <h4>Effective Date: [20th October, 2023]</h4>
        <h6>
            Your privacy is important to us.
            It is PMS's policy to respect your privacy regarding any information we may collect
            from you across our website and app.
        </h6>
    </center><hr>

    <h2>1. Information We Collect</h2>
    <p>
        We may collect personal information such as your username and email address
        when you create an account on our app. We may also collect non-personal
        information such as your IP address, browser type, and device information.
    </p>

    <h2>2. How We Use Your Information</h2>
    <p>
        We use the information we collect for various purposes, including to provide,
        maintain, and improve our app, send you updates and notifications, respond
        to your inquiries, and monitor the usage of our app.
    </p>

    <h2>3. Security</h2>
    <p>
        We value your trust in providing your personal information, and we are committed
        to protecting it. However, please be aware that no method of transmission over
        the internet or electronic storage is 100% secure and reliable, and we cannot
        guarantee its absolute security.
    </p>

    <h2>4. Links to Other Sites</h2>
    <p>
        Our app may contain links to other sites. If you click on a third-party link,
        you will be directed to that site. Note that these external sites are not
        operated by us. We strongly advise you to review the Privacy Policy of these
        websites. We have no control over and assume no responsibility for the content,
        privacy policies, or practices of any third-party sites or services.
    </p>

    <h2>5. Changes to This Privacy Policy</h2>
    <p>
        We may update our Privacy Policy from time to time. We will notify you of any
        changes by posting the new Privacy Policy on this page.
    </p>

    <h2>6. Contact Us</h2>
    <p>
        If you have any questions or suggestions about our Privacy Policy,
        do not hesitate to contact us at <span style="color:blue"><b>anonymous.pms.network@gmail.com</b></span>.
    </p>
</body>